aioquic==1.3.0
async-generator==1.10
attrs==25.3.0
base58==2.1.1
blake3==1.0.8
certifi==2026.1.4
cffi==1.17.1
charset-normalizer==3.4.4
coincurve==21.0.0
cryptography==45.0.5
dnspython==2.8.0
docutils==0.22.4
fastecdsa==2.3.2
filetype==1.2.0
greenlet==3.3.1
grpcio==1.73.1
h11==0.16.0
idna==3.10
ifaddr==0.2.0
importlib-metadata==8.7.0
janus==2.0.0
kivy==2.3.1
kivy-garden==0.1.5
kivymd==1.2.0
libp2p==0.5.0
linkify-it-py==2.0.3
lru-dict==1.3.0
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
miniupnpc==2.3.3
mmh3==5.2.0
morphys==1.0
multiaddr==0.0.11
mypy-extensions==1.1.0
mypy-protobuf==3.3.0
netaddr==1.3.0
noiseprotocol==0.3.1
outcome==1.3.0.post0
packaging==24.2
pillow==12.1.1
platformdirs==4.3.8
protobuf==6.33.5
psutil==7.2.2
py-cid==0.4.0
py-multibase==2.0.0
py-multicodec==1.0.0
py-multihash==3.0.0
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycparser==2.22
pycryptodome==3.23.0
pygments==2.19.2
pylsqpack==0.3.23
pynacl==1.5.0
pyopenssl==25.1.0
python-baseconv==1.2.2
requests==2.32.5
rich==14.0.0
rpcudp==5.0.1
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
textual==3.5.0
trio==0.30.0
trio-asyncio==0.15.0
trio-typing==0.10.0
trio-websocket==0.12.2
types-protobuf==6.30.2.20250703
typing-extensions==4.14.1
u-msgpack-python==2.8.0
uc-micro-py==1.0.3
urllib3==2.6.3
varint==1.0.2
wsproto==1.3.2
zeroconf==0.147.3
zipp==3.23.0
